<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974146490061-b5hv11ai5vec5rk7q5mrht2rievj1kge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974146490061-b5hv11ai5vec5rk7q5mrht2rievj1kge</string>
	<key>API_KEY</key>
	<string>AIzaSyD5isCEB8msFtU1g8YYf_wIahd79oEOjn8</string>
	<key>GCM_SENDER_ID</key>
	<string>974146490061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.masarat</string>
	<key>PROJECT_ID</key>
	<string>masarat-2072e</string>
	<key>STORAGE_BUCKET</key>
	<string>masarat-2072e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974146490061:ios:cd60a8cd045cac0c69e384</string>
</dict>
</plist>